
<script language="javascript">

    window.name ="Parent_window";

    function fnPopup(){

        document.form_chk.action = "/noticeDetail";
        document.form_chk.target = "_self";
        document.form_chk.submit();

    }

</script>

<body onload="fnPopup();">

<form name="form_chk" method="post">
    <input type="hidden" name="id" class="form-control" value="${id}">		<!-- 위에서 업체정보를 암호화 한 데이타입니다. -->
</form>

</body>