
<script language="javascript">

    function fnResult(){

        alert('${error}');
        history.go(-1);
        //window.opener.location.reload();
        //self.close();

    }

</script>

<body onload="fnResult();">



</body>