<#--<a class="shortcut tile" href="?coin=KRW">-->
    <#--<img src="/img/shortcuts/KRW.png" alt="">-->
    <#--<small class="t-overflow">KRW</small>-->
<#--</a>-->
<a class="shortcut tile" href="?coin=BITCOIN">
    <img src="/img/shortcuts/BITCOIN.png" alt="">
    <small class="t-overflow">BIT</small>
</a>
<a class="shortcut tile" href="?coin=ETHEREUM">
    <img src="/img/shortcuts/ETHEREUM.png" alt="">
    <small class="t-overflow">ETH</small>
</a>
<a class="shortcut tile" href="?coin=DASH">
    <img src="/img/shortcuts/DASH.png" alt="">
    <small class="t-overflow">DASH</small>
</a>
<a class="shortcut tile" href="?coin=MONERO">
    <img src="/img/shortcuts/MONERO.png" alt="">
    <small class="t-overflow">XMR</small>
</a>
<a class="shortcut tile" href="?coin=LITECOIN">
    <img src="/img/shortcuts/LITECOIN.png" alt="">
    <small class="t-overflow">LITE</small>
</a>