<!-- Profile Menu -->
<div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
    <a href="" data-toggle="dropdown">
        <img class="profile-pic animated" src="img/profile-pic.jpg" alt="">
    </a>
    <ul class="dropdown-menu profile-menu">
        <li><a href="">My Profile</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
        <li><a href="">Messages</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
        <li><a href="">Settings</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
        <li><a href="">Sign Out</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
    </ul>
    <h4 class="m-0">Malinda Hollaway</h4>
    @malinda-h
</div>

<!-- Calendar -->
<div class="s-widget m-b-25">
    <div id="sidebar-calendar"></div>
</div>

<!-- Feeds -->
<div class="s-widget m-b-25">
    <h2 class="tile-title">
        News Feeds
    </h2>

    <div class="s-widget-body">
        <div id="news-feed"></div>
    </div>
</div>

<!-- Projects -->
<div class="s-widget m-b-25">
    <h2 class="tile-title">
        Projects on going
    </h2>

    <div class="s-widget-body">
        <div class="side-border">
            <small>Joomla Website</small>
            <div class="progress progress-small">
                <a href="#" data-toggle="tooltip" title="" class="progress-bar tooltips progress-bar-danger" style="width: 60%;" data-original-title="60%">
                    <span class="sr-only">60% Complete</span>
                </a>
            </div>
        </div>
        <div class="side-border">
            <small>Opencart E-Commerce Website</small>
            <div class="progress progress-small">
                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-info" style="width: 43%;" data-original-title="43%">
                    <span class="sr-only">43% Complete</span>
                </a>
            </div>
        </div>
        <div class="side-border">
            <small>Social Media API</small>
            <div class="progress progress-small">
                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-warning" style="width: 81%;" data-original-title="81%">
                    <span class="sr-only">81% Complete</span>
                </a>
            </div>
        </div>
        <div class="side-border">
            <small>VB.Net Software Package</small>
            <div class="progress progress-small">
                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success" style="width: 10%;" data-original-title="10%">
                    <span class="sr-only">10% Complete</span>
                </a>
            </div>
        </div>
        <div class="side-border">
            <small>Chrome Extension</small>
            <div class="progress progress-small">
                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success" style="width: 95%;" data-original-title="95%">
                    <span class="sr-only">95% Complete</span>
                </a>
            </div>
        </div>
    </div>
</div>