#login .box{
    left:50%; transform: translateX(-50%);
}

.area-ad{
    height:550px;
    width:130px;
    position:fixed;
    top:100px;
    background-color: #fff;
    z-index : 10;
}

.area-ad-left{
    left : 50px;
}

.area-ad-right{
    right : 50px;
}

.container-full{
    width:100%;
    background-color : #000000;
}

#coinIndicator{
    /*margin-top:30px;*/
    padding-top:30px;
    padding-bottom:30px;
    background-color:#000;

}

#coinIndicator .indicator-block{
    margin-left: 5px;
    margin-bottom: 15px;
    height:50px;
    width:calc(10% - 10px);
    display:inline-block;

}

#coinIndicator .indicator-block:first-of-type{
    margin-left: 5px;

}

#coinIndicator .indicator-block-header {
    min-width:110px;
    width: calc(10% - 10px);
    position:absolute;

}

@media (max-width: 960px) {
    #coinIndicator .indicator-block{
        height:50px;
        width:30%;
        display:inline-block;

    }
    #coinIndicator .indicator-block-header {
        width: 30%;
        position:absolute
    }
}


@media (min-width: 1200px) {

}

.arrow_box {
    position: relative;
    background: #88b7d5;
    border: 1px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #88b7d5;
    border-width: 30px;
    margin-left: -30px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #c2e1f5;
    border-width: 1px;
    margin-left: -36px;
}

#coinIndicator .indicator-block-body{
    margin-top:50px;
}
.glyphicon-large{
    font-size : 80px;
}

#okbitFeatures{
    margin-bottom : 80px;
    padding-top:30px;
    padding-bottom:30px;
}

.features{
    padding:20px;
}

.block-volume {
    /*background: #222;*/
    padding-bottom: 40px;
    font-size: 35px;
    padding-top: 40px;
    text-align: center;
}

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);*/
footer { background-color:#0c1a1e; min-height:260px; font-family: 'Open Sans', sans-serif; z-index:30}
.footerleft { margin-top:50px; padding:0 0; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
/*.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; color: #fff;*/
.footer-ul li a { color:#fff; transition: color 0.2s linear 0s, background 0.2s linear 0s;
    font-size: 14px !important;
    margin-bottom: 15px;}
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}

.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}

.g-recaptcha > div:first-child{
    margin:auto;
}

.logo{
    padding:10px 10px 10px 60px;
}
.dropdown-menu{
    min-width:100px;
}
#orders .fixed-thead-wrap .fixed-thead{
    width:calc(100%/8);
    padding-left:5px;
    padding-right:5px;
}
#order > table{
    font-size : 8px;
    margin-bottom:0px;
}
#order > table.table-hover{
    cursor : pointer;
}
#order > table.table-fixed > thead > tr > th{
    width:calc(100%/8);
    padding-left:5px;
    padding-right:5px;
}
#order > table > thead > tr > th{
    background-color: transparent;
}

.no-margin{
    margin:0px!important;
}
.no-padding{
    padding:0px!important;
}

#trade > table{
    font-size : 8px;
    margin-bottom:0px;
}
#trade > table.table-hover{
    cursor : pointer;
}
#trade > table > thead > tr > th{
    background-color: transparent;
}
.tab-xs{
    font-size: 8px;
}
.tab-xs > li > a{
    /*padding:5px;*/
}
.table-fixed > thead > tr > th{
    margin:0px;
    padding:0px;
}
.fixed-thead-wrap{
    padding: 5px;
}
.fixed-thead{
    float:left;
    font-size:10px;
}
.scroll-table{
    float:left;
    overflow:scroll;
    max-height:400px;
}

.scroll-table > thead > tr > th{
    background-color: transparent;

}
.scroll-table tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

table.nb > tbody > tr > td{
    border:0px!important;
}

.nb{
    border:0px!important;
}
#coinInfo table{
    margin-bottom : 0px;
    /*font-size:8px;*/
}
#coinInfo table > tbody > tr > td{
    padding-top:3px;
    padding-bottom:3px;
}
#coinInfoBody div.row{
    padding-bottom:5px;
}


.table-hover{
    cursor:pointer;
}
#myOrder > div > table{
    font-size:10px;
}
#myOrder > div > table > thead > tr > th{
    background-color:transparent;
    text-align : center;
}

@media (min-width: 1200px) {
    #balanceWrap{
        padding-left:0px;
    }
}

@media (min-width: 992px){
    #balanceWrap{
        padding-left:0px;
    }

    .balanceIcon{
        diplay : none !important;
    }


}

#balanceWrap{
    padding-right:0px;
}
#coinInfoWrap{
    padding-left:0px;
    padding-right:0px;
}
#myOrderWrap{
    padding-left:0px;
    padding-right:0px;
}
#orderFormWrap{
    padding-left:0px;
    padding-right:0px;
}
#sidebar{
    width:0px;
}
#content{
    margin-left:45px;
}

@media (max-width: 780px) {
    #content {
        margin-left: 0px;
    }
    #sidebar{
        width:233px;
    }
    #sidebar.toggled {
        left: 0px;
        margin-top: 50px;
    }
    .logo {
        width: 233px;
        margin: 0;
    }
}
.drawer.custom{
    height:inherit;
}
@media (max-width: 400px){
    .shortcut {
        height: 62px;
        width: calc(25% - 31px);
    }
}
@media(max-width: 768px){
    .logo {
        width: 100%;
        margin: 0;
    }
}

#myQuestion > table > thead > tr > th{
    background-color: transparent;
}

#balanceBody > tr > td{

    padding-top : 3px;
    padding-bottom : 3px;
    vertical-align: middle;
    border-top:0px;
}

#balanceBody > tr > td[rowspan] {

    border-bottom:1px solid #d2d2d2;
}

/*#balanceBody > tr:has('td[rowspan]'):last-child > td {*/

    /*border-bottom:none !important;*/
/*}*/

/*#balanceBody > tr:not(:nth-child(3)) > td{*/

    /*border-bottom:none !important;*/
/*}*/

#balanceBody > tr:nth-child(2n) > td{

    padding-top : 3px;
    padding-bottom : 3px;
    vertical-align: middle;
    border-bottom:1px solid #d2d2d2;
}

/*#balanceBody > tr{*/

    /*border-top:1px solid #fff !important;*/

/*}*/

#balanceTab {
    margin-bottom : 5px;
}

#coinInfoBody > table > tbody > tr > td{
    vertical-align: middle;
    border-top:0px;
}

.pc-up{
    color : red !important;
    text-shadow: none;
    font-weight: bold;
}

.pc-down{
    color : #3333FF !important;
    text-shadow: none;
    font-weight: bold;
}
#myOrderTab > table{
    font-size : 8px;
    text-shadow: none;
    font-weight: bold;
}
.table {
    margin-bottom : 0px;
}

#myOrders a:hover, #myOrders a:focus{
    color:red !important;
}

/*a:hover, a:focus {*/
    /*color: #FFD600;*/
    /*text-decoration: none;*/
/*}*/


#closebt-container {
    position: relative;
    width:100%;
    text-align:center;
    margin-top:20px;
}

.closebt {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor:pointer;
}

.closebt:hover {
    transform:rotate(90deg);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */

    font-size: 15px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */

    font-size: 15px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */

    font-size: 15px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */

    font-size: 15px;
}

.list-date {
    width: 100px;

}

.listview .media:not(.listview-header){
    border-bottom : none;
}