<templateslate -->
<script id="shortcutTemplate" type="text/x-jquery-tmpl">
    <a class="shortcut tile" href="javascript:void(0);" onclick="javascript:changeCoin('${r"${name}"}');">
        <img src="/img/shortcuts/${r"${name}"}.png" alt="${r"${name}"}">
        <small class="t-overflow">${r"${unit}"}</small>
    </a>
</script>
<div id="shortcut" class="block-area shortcut-area">


</div>