<#--<script src="/js/validation/validationEngine_en.js"></script>-->
<#--&lt;#&ndash;<script src="/js/validation/validationEngine_ko.js"></script>&ndash;&gt;-->
<script type="text/javascript">

    (function ($) {
        $.fn.validationEngineLanguage = function () {
        };
        $.validationEngineLanguage = {
            newLang: function () {
                $.validationEngineLanguage.allRules = {
                    "required": { // Add your regex rules here, you can take telephone as an example
                        "regex": "none",
                        "alertText": "<@spring.message 'REQUIRED'/>",
                        "alertTextCheckboxMultiple": "<@spring.message 'REQUIRED'/>",
                        "alertTextCheckboxe": "<@spring.message 'REQUIRED'/>",
                        "alertTextDateRange": "<@spring.message 'REQUIRED'/>"
                    },
                    "requiredInFunction": {
                        "func": function (field, rules, i, options) {
                            return (field.val() == "test") ? true : false;
                        },
                        "alertText": "<@spring.message 'REQUIRED'/>"
                    },
                    "dateRange": {
                        "regex": "none",
                        "alertText": "<@spring.message 'WRONG'/> ",
                        "alertText2": "<@spring.message 'DATE_RANGE'/>"
                    },
                    "dateTimeRange": {
                        "regex": "none",
                        "alertText": "<@spring.message 'WRONG'/> ",
                        "alertText2": "<@spring.message 'TIME_RANGE'/>"
                    },
                    "minSize": {
                        "regex": "none",
                        "alertText": "<@spring.message 'MINIMUM'/> ",
                        "alertText2": " <@spring.message 'CHARACTER_REQUIRED'/>"
                    },
                    "maxSize": {
                        "regex": "none",
                        "alertText": "<@spring.message 'MAXIMUM'/> ",
                        "alertText2": " <@spring.message 'CHARACTER_REQUIRED'/>"
                    },
                    "groupRequired": {
                        "regex": "none",
                        "alertText": "<@spring.message 'REQUIRED'/>"
                    },
                    "min": {
                        "regex": "none",
                        "alertText": "<@spring.message 'MINIMUM'/> "
                    },
                    "max": {
                        "regex": "none",
                        "alertText": "<@spring.message 'MAXIMUM'/> "
                    },
                    "past": {
                        "regex": "none",
                        "alertText": "이전의 날짜 "
                    },
                    "future": {
                        "regex": "none",
                        "alertText": "이후의 날짜 "
                    },
                    "maxCheckbox": {
                        "regex": "none",
                        "alertText": "최대 ",
                        "alertText2": " 개의 항목을 선택할 수 있습니다."
                    },
                    "minCheckbox": {
                        "regex": "none",
                        "alertText": "최소 ",
                        "alertText2": " 개의 항목을 선택해야합니다."
                    },
                    "equals": {
                        "regex": "none",
                        "alertText": "<@spring.message 'EQUAL_TO'/> : "
                    },
                    "creditCard": {
                        "regex": "none",
                        "alertText": "<@spring.message 'WRONG_CARD_NUM'/>"
                    },
                    "phone": {
// credit: jquery.h5validate.js / orefalo
                        "regex": /^([\+][0-9]{1,3}[\ \.\-])?([\(]{1}[0-9]{2,6}[\)])?([0-9\ \.\-\/]{3,20})((x|ext|extension)[\ ]?[0-9]{1,4})?$/,
                        "alertText": "<@spring.message 'WRONG_PHONE_NUM'/>"
                    },
                    "email": {
// HTML5 compatible email regex ( http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#    e-mail-state-%28type=email%29 )
                        "regex": /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/,
                        "alertText": "<@spring.message 'WRONG_EMAIL_ADDRESS'/>"
                    },
                    "integer": {
                        "regex": /^[\-\+]?\d+$/,
                        "alertText": "정수형 숫자가 아닙니다."
                    },
                    "number": {
// Number, including positive, negative, and floating decimal. credit: orefalo
                        "regex": /^[\-\+]?((([0-9]{1,3})([,][0-9]{3})*)|([0-9]+))?([\.]([0-9]+))?$/,
                        "alertText": "숫자형식이 아닙니다."
                    },
                    "password": {
                        "regex": /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-_()/'";:<>,.~`])(?=.*[0-9]).{8,20}/,
                        "alertText": "<@spring.message 'WRONG_PASSWORD'/>"
                    },
                    "date": {
//	Check if date is valid by leap year
                        "func": function (field) {
                            var pattern = new RegExp(/^(\d{4})[\/\-\.](0?[1-9]|1[012])[\/\-\.](0?[1-9]|[12][0-9]|3[01])$/);
                            var match = pattern.exec(field.val());
                            if (match == null)
                                return false;

                            var year = match[1];
                            var month = match[2] * 1;
                            var day = match[3] * 1;
                            var date = new Date(year, month - 1, day); // because months starts from 0.

                            return (date.getFullYear() == year && date.getMonth() == (month - 1) && date.getDate() == day);
                        },
                        "alertText": "사용가능한 날짜형식이 아닙니다. 날짜는 YYYY-MM-DD의 형식이어야 합니다."
                    },
                    "ipv4": {
                        "regex": /^((([01]?[0-9]{1,2})|(2[0-4][0-9])|(25[0-5]))[.]){3}(([0-1]?[0-9]{1,2})|(2[0-4][0-9])|(25[0-5]))$/,
                        "alertText": "올바른 IP 주소가 아닙니다."
                    },
                    "url": {
                        "regex": /^(https?|ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(\#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i,
                        "alertText": "올바른 URL 형식이 아닙니다."
                    },
                    "onlyNumberSp": {
                        "regex": /^[0-9\ ]+$/,
                        "alertText": "숫자만 사용할 수 있습니다."
                    },
                    "onlyLetterSp": {
                        "regex": /^[a-zA-Z\ \']+$/,
                        "alertText": "문자만 사용할 수 있습니다."
                    },
                    "onlyLetterNumber": {
                        "regex": /^[0-9a-zA-Z]+$/,
                        "alertText": "특수문자는 사용할 수 없습니다."
                    },
// --- CUSTOM RULES -- Those are specific to the demos, they can be removed or changed to your likings
                    "ajaxUserCall": {
                        "url": "ajaxValidateFieldUser",
// you may want to pass extra data on the ajax call
                        "extraData": "name=eric",
                        "alertText": "This user is already taken",
                        "alertTextLoad": "Validating, please wait"
                    },
                    "ajaxUserCallPhp": {
                        "url": "phpajax/ajaxValidateFieldUser.php",
// you may want to pass extra data on the ajax call
                        "extraData": "name=eric",
// if you provide an "alertTextOk", it will show as a green prompt when the field validates
                        "alertTextOk": "This username is available",
                        "alertText": "This user is already taken",
                        "alertTextLoad": "Validating, please wait"
                    },
                    "ajaxNameCall": {
// remote json service location
                        "url": "ajaxValidateFieldName",
// error
                        "alertText": "This name is already taken",
// if you provide an "alertTextOk", it will show as a green prompt when the field validates
                        "alertTextOk": "This name is available",
// speaks by itself
                        "alertTextLoad": "Validating, please wait"
                    },
                    "ajaxNameCallPhp": {
// remote json service location
                        "url": "phpajax/ajaxValidateFieldName.php",
// error
                        "alertText": "This name is already taken",
// speaks by itself
                        "alertTextLoad": "Validating, please wait"
                    },
                    "validate2fields": {
                        "alertText": "Please input Wendy"
                    },
//tls warning:homegrown not fielded
                    "dateFormat": {
                        "regex": /^\d{4}[\/\-](0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])$|^(?:(?:(?:0?[13578]|1[02])(\/|-)31)|(?:(?:0?[1,3-9]|1[0-2])(\/|-)(?:29|30)))(\/|-)(?:[1-9]\d\d\d|\d[1-9]\d\d|\d\d[1-9]\d|\d\d\d[1-9])$|^(?:(?:0?[1-9]|1[0-2])(\/|-)(?:0?[1-9]|1\d|2[0-8]))(\/|-)(?:[1-9]\d\d\d|\d[1-9]\d\d|\d\d[1-9]\d|\d\d\d[1-9])$|^(0?2(\/|-)29)(\/|-)(?:(?:0[48]00|[13579][26]00|[2468][048]00)|(?:\d\d)?(?:0[48]|[2468][048]|[13579][26]))$/,
                        "alertText": "올바른 날짜형식이 아닙니다."
                    },
//tls warning:homegrown not fielded
                    "dateTimeFormat": {
                        "regex": /^\d{4}[\/\-](0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])\s+(1[012]|0?[1-9]){1}:(0?[1-5]|[0-6][0-9]){1}:(0?[0-6]|[0-6][0-9]){1}\s+(am|pm|AM|PM){1}$|^(?:(?:(?:0?[13578]|1[02])(\/|-)31)|(?:(?:0?[1,3-9]|1[0-2])(\/|-)(?:29|30)))(\/|-)(?:[1-9]\d\d\d|\d[1-9]\d\d|\d\d[1-9]\d|\d\d\d[1-9])$|^((1[012]|0?[1-9]){1}\/(0?[1-9]|[12][0-9]|3[01]){1}\/\d{2,4}\s+(1[012]|0?[1-9]){1}:(0?[1-5]|[0-6][0-9]){1}:(0?[0-6]|[0-6][0-9]){1}\s+(am|pm|AM|PM){1})$/,
                        "alertText": "올바른 날짜 형식이 아닙니다.",
                        "alertText2": "사용가능한 날짜형식: ",
                        "alertText3": "mm/dd/yyyy hh:mm:ss AM|PM 또는 ",
                        "alertText4": "yyyy-mm-dd hh:mm:ss AM|PM"
                    }
                };

            }
        };

        $.validationEngineLanguage.newLang();

    })(jQuery);

</script>



