
<script language="javascript">

    window.name ="Parent_window";

    function fnPopup(){

        document.form_chk.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
        document.form_chk.target = "_self";
        document.form_chk.submit();

    }

</script>

<body onload="fnPopup();">

<form name="form_chk" method="post">
    <input type="hidden" name="m" value="checkplusSerivce">						<!-- 필수 데이타로, 누락하시면 안됩니다. -->
    <input type="hidden" name="EncodeData" class="form-control" value="${sEncData}">		<!-- 위에서 업체정보를 암호화 한 데이타입니다. -->
</form>

</body>