
<script language="javascript">

    function fnResult(){

        alert('${result.msg}');
        window.opener.location.reload();
        self.close();

    }

</script>

<body onload="fnResult();">



</body>