/*
$bfx-black1: rgba(0,0,0,0.35); //  |  lightest
$bfx-black2: rgba(0,0,0,0.35); //
$bfx-black3: #121b21; // \|/ darkest
$bfx-black4: #0c1218; //  Ë˜
$bfx-blue: #5B91B2; */

html, body {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0;
    color: #999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#library-container {
    border: none !important;
    background: transparent !important;
}

.chart-loading-screen {
    background-color: rgba(0,0,0,0.35) !important;
}

.tv-side-toolbar {
    border: none !important;
}

.onchart-tv-logo {
    transform: scale(.75) !important;
    opacity: .5 !important;
    background: none !important;
    left: -12px !important;
}

.onchart-tv-logo.expanded .wrapper,
.onchart-tv-logo .wrapper {
    padding: 0 !important;
    background: none !important;
    background-color: none !important;
}

a, a:visited {
    color: #5B91B2;
}

a:hover {
    color: #5B91B2 !important;
}

.chart-page .chart-container {
    background-color: rgba(0,0,0,0.35) !important;
    border-color: #121b21 !important;
}

.header-chart-panel {
    background-color: transparent !important;
    /*background-color: rgba(0,0,0,0.35) !important;*/
}

.tv-side-toolbar {
    background-color: rgba(0,0,0,0.35) !important;
    border-color: rgba(0,0,0,0.35) !important;
    color: #999 !important;
}

.tv-side-toolbar .tools-group:not(:first-child):not(.no-delimiter)::before {
    background-color: #121b21 !important;
}

.tv-side-toolbar .tools-group .button:active:not(.subgroup),
.tv-side-toolbar .tools-group .button.active:not(.subgroup),
.tv-side-toolbar .tools-group .button.selected:not(.subgroup),
.properties-toolbar .tools-group .button:active,
.properties-toolbar .tools-group .button.active,
.drawing-favorites-toolbar .tools-group .button:active,
.drawing-favorites-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.selected .main,
.tv-side-toolbar .tools-group .button:active .side,
.tv-side-toolbar .tools-group .button.active .side {
    background-color: #fff !important;
}

.tv-side-toolbar .tools-group .button .side {
    background-color: rgba(0,0,0,0.35) !important;
    border-color: rgba(0,0,0,0.35) !important;
}

.tv-main-panel {
    background-color: rgba(0,0,0,0.35) !important;
}

.chart-controls-bar {
    background: rgba(0,0,0,0.35) !important;
}

input.symbol-edit,
.symbol-search-dialog input {
    background-color: rgba(0,0,0,0.35) !important;
    border-color: #121b21 !important;
    color: #aaa !important;
}

.header-chart-panel .button,
.hotlist-controls .button,
.symbol-edit-widget .button,
.bottom-widgetbar-content.backtesting .button {
    background-color: transparent !important;
    border-color: #323232 !important;
    color: #999 !important;
}

#library-container .header-chart-panel .button.disabled,
#library-container .header-chart-panel .button.disabled:active,
#library-container .header-chart-panel .button.disabled.active {
    background: #2c3940 none repeat scroll 0 0 !important;
    border-color: #2c3940 !important;
    color: #999 !important;
}

.layout-toggle-container .tv-button {
    background-color: #2c3940 !important;
    border-color: #2c3940 !important;
}

.save-load-buttons .button.first {
    border-color: #2c3940 !important;
}

.save-load-buttons .title {
    background-color: #2c3940 !important;
    border-color: #2c3940 !important;
    color: #999 !important;
}

.save-load-buttons .button.last {
    border-color: #2c3940 !important;
}

.ch-item-header {
    color: rgba(200, 200, 200, 0.6) !important;
}

.ch-item-symbol {
    color: #aa3 !important;
}

.ch-item-text {
    color: #aaa !important;
}

.ch-item {
    background-color: #2c3940 !important;
    border-color: #2c3940 !important;
}

.ch-highlight-user {
    background-color: #2c3940 !important;
}

.ch-highlight-user .ch-item-text {
    color: #999 !important;
}

.ch-highlight-user .ch-item-symbol,
.ch-highlight-user .ch-item-header {
    color: #bb4 !important;
}

.ch-item:hover {
    background-color: #5B91B2 !important;
    border-color: #2c3940 !important;
}

i {
    filter: invert(100%) !important;
}

.ch-item-text img {
    border-color: #2c3940 !important;
}

.fancybox-skin {
    background-color: #888 !important;
    color: #aaa !important;
}

.widgetbar-tab-spacer {
    background-color: #2c3940 !important;
    border-color: #2c3940 !important;
    color: #999 !important;
}

.widgetbar-tab {
    background-color: #2c3940 !important;
    border-color: #2c3940 !important;
}

.widgetbar-tab:hover,
.widgetbar-tab.active {
    background-color: #2c3940 !important;
}

.widgetbar-widget {
    background: #2c3940 !important;
    border-color: #2c3940 !important;
}

.widgetbar-pages {
    background-color: #2c3940 !important;
    border-left: 1px solid #121b21 !important;
    border-right: 1px solid #121b21 !important;
}

.ch-input {
    background-color: #121b21 !important;
}

.ch-input .wrap textarea {
    background-color: rgba(0,0,0,0.35) !important;
    border-color: #121b21 !important;
    color: #aaa !important;
}

.widgetbar-tabs {
    background-color: #2c3940 !important;
}

.widgetbar-widgetheader {
    background-color: #2c3940 !important;
}

.widgetbar-addwidgetpopup-itemtitle,
.widgetbar-widgettitle {
    color: #999 !important;
}

.tv-close-panel.left,
.hidden .tv-close-panel.right,
.tv-close-panel.top,
.tv-close-panel.right,
.hidden .tv-close-panel.left {
    background-color: #2c3940 !important;
    border-color: #2c3940 !important;
}

.favored-list-container span {
    background-color: #222 !important;
    border-color: #222 !important;
    color: #7d7d7d !important;
}

.on-widget .getimage .icon {
    background-image: none !important;
    fill: #999 !important;
}

.header-chart-panel .button.published-settings {
    border-color: #2c3940 !important;
}

.widgetbar-headerspace .button {
    background-color: #2c3940 !important;
    border-color: #2c3940 !important;
}

.chart-controls-bar-buttons a::before {
    border-color: #2c3940 !important;
}

#footer-chart-panel .bottom-toolbar-tab {
    background: #2c3940 !important;
    border-color: #2c3940 !important;
}

#footer-chart-panel,
.bottom-toolbar-tab,
.trading-floating-toolbar,
.bottom-widgetbar-handle,
.widgetbar-handle {
    background-color: rgba(0,0,0,0.35) !important;
    border-color: #121b21 !important;
    color: #999 !important;
}

.market-table thead th {
    background-color: #121b21 !important;
    color: #999 !important;
}

.symbol-list-item.success {
    color: #ccc !important;
}

.symbol-list-item:nth-child(2n) {
    background-color: rgba(0,0,0,0.35) !important;
}

#footer-chart-panel .bottom-toolbar-tab:hover,
#footer-chart-panel .bottom-toolbar-tab.active {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
}

#bottom-area .bottom-widgetbar-content {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
    border: 1px solid #121b21 !important;
}

.tv-data-table--trading-paper .tv-data-table__thead {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
}

.tv-data-table {
    color: #999 !important;
}

.tv-data-table__cell--blue-background {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
}

#footer-chart-panel a.publish-chart-button {
    background: #214456 none repeat scroll 0 0 !important;
}

#footer-chart-panel a.publish-chart-dropdown-button {
    background: #2A4F63 none repeat scroll 0 0 !important;
}

#footer-chart-panel a.publish-chart-button,
#footer-chart-panel a.publish-chart-dropdown {
    color: #81bae8 !important;
}

.tv-data-table__stroke:last-child .tv-data-table__cell {
    border-bottom: medium none rgba(0,0,0,0.35) !important;
}

.tv-data-table__cell--status {
    background: #121b21121b21 none repeat scroll 0 0 !important;
    height: 15px !important;
    white-space: nowrap !important;
}

.ace-tomorrow .ace_gutter {
    background: #252525 none repeat scroll 0 0 !important;
    color: #aaa !important;
    font-weight: 800 !important;
}

.ace-tomorrow {
    background-color: #111 !important;
    color: #4d4d4c !important;
}

.tv-script-header .button {
    color: #aaa !important;
}

.tv-script-header .button:hover {
    color: #5B91B2 !important;
}

.ace-tomorrow .ace_entity.ace_name.ace_function,
.ace-tomorrow .ace_support.ace_function,
.ace-tomorrow .ace_variable {
    color: #5B91B2 !important;
}

.ace-tomorrow {
    color: #aaa !important;
}

.ace-tomorrow .ace_heading,
.ace-tomorrow .ace_string {
    color: #A8C436 !important;
}

.tv-script-header .tv-script-header-content {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
}

.ace-tomorrow .ace_marker-layer .ace_active-line {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
}

.ace-tomorrow .ace_marker-layer .ace_selection {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
}

.ace_gutter-cell {
    background-color: #414141 !important;
}

#bottom-area .bottom-widgetbar-content {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
    border: 1px solid #121b21 !important;
}

.ace-tomorrow .ace_marker-layer .ace_selection {
    background: #121b21 none repeat scroll 0 0 !important;
}

.text_notes .notes-block .notes .note.active {
    background-color: rgba(0,0,0,0.35) !important;
}

.text_notes .notes-block .notes .note {
    border-bottom: 1px solid #121b21 !important;
}

.text_notes {
    color: #aaa !important;
}

.text_notes .textnotes-search-header {
    background-color: rgba(0,0,0,0.35) !important;
    border-bottom: 1px solid #121b21 !important;
}

.text_notes .textnotes-search-header .search-input {
    background: #111 none repeat scroll 0 0 !important;
    border: 1px solid #121b21 !important;
    color: #aaa !important;
}

.text_notes .textnotes-search-header .new-note-btn {
    background-color: #324B36 !important;
    color: #a28B66 !important;
}

.text_notes .notes-desc-block .title {
    color: #aaa !important;
    background-color: #111 !important;
}

.text_notes .notes-desc-block textarea {
    border-color: #121b21 -moz-use-text-color -moz-use-text-color !important;
    color: #aaa !important;
    background-color: #111 !important;
}

.text_notes .notes-block {
    border-right: 1px solid #121b21 !important;
}

.tv-data-table__thead {
    border: 1px solid #121b21 !important;
}

#bottom-area .bottom-widgetbar-content.backtesting .backtesting-head-wrapper,
.strategy-report-wrap .backtesting-head-wrapper {
    background-color: #121b21 !important;
    border: 1px solid #121b21 !important;
}

#bottom-area .bottom-widgetbar-content.backtesting .backtesting-head-wrapper .group .strategy-select.has-strategies,
.strategy-report-wrap .backtesting-head-wrapper .group .strategy-select.has-strategies {
    color: #eabd2d !important;
}

.report-tabs:hover {
    color: #5B91B2 !important;
}

.report-data {
    color: #ccc !important;
}

#bottom-area .bottom-widgetbar-content.backtesting .backtesting-head-wrapper .backtesting-select-wrapper .report-tabs,
.strategy-report-wrap .backtesting-head-wrapper .backtesting-select-wrapper .report-tabs {
    color: #aaa !important;
}

.tv-script-header .name-wrap {
    color: #eabd2d !important;
}

#bottom-area .bottom-widgetbar-content.backtesting .backtesting-content-wrapper .report-content.performance .report-data,
.strategy-report-wrap .backtesting-content-wrapper .report-content.performance .report-data,
#bottom-area .bottom-widgetbar-content.backtesting .backtesting-content-wrapper .report-content.trades .report-data,
.strategy-report-wrap .backtesting-content-wrapper .report-content.trades .report-data {
    color: #aaa !important;
}

table {
    border-color: #121b21 !important;
}

#bottom-area .bottom-widgetbar-content.backtesting .backtesting-content-wrapper .report-content.performance table td,
.strategy-report-wrap .backtesting-content-wrapper .report-content.performance table td {
    border-bottom: 1px solid #121b21 !important;
}

#bottom-area .bottom-widgetbar-content.backtesting .backtesting-content-wrapper .report-content.trades table tbody td,
.strategy-report-wrap .backtesting-content-wrapper .report-content.trades table tbody td {
    border-top: 1px solid #121b21 !important;
}

.ch-item-text img.snapshot-preview {
    border-color: #121b21 !important;
}

.msg-data .msg-item::after {
    background: #121b21 none repeat scroll 0 0 !important;
}

.msg-window {
    background: #121b21 none repeat scroll 0 0 !important;
}

.tv-notifications .event-block.new {
    background: #212121 none repeat scroll 0 0 !important;
}

.tv-notifications .event-block::after {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
}

.tv-notifications .event-block .text {
    background: rgba(212, 126, 231, 0) none repeat scroll 0 0 !important;
}

.tv-notifications .event-block .head .line.event {
    color: #A8BF78 !important;
}

.event-block .text {
    color: #999 !important;
}

.note-block {
    border-top: 1px solid #121b21 !important;
}

.note-block .name {
    color: #3e98cd !important;
}

.widgetbar-widget {
    background-color: rgba(0,0,0,0.35) !important;
}

.note-block img.preview {
    border: 5px solid #999 !important;
}

.alerts-widget .alert-list {
    color: #aaa !important;
}

._tv-button {
    background: #2c3940 none repeat scroll 0 0 !important;
    border: 1px solid #2c3940 !important;
    color: #6f7073 !important;
}

#chart-area.fullscreen {
    background: rgba(0,0,0,0.35) !important;
}
/*   test*/

._tv-button,
button._tv-button {
    -moz-user-select: none;
    border: 1px solid #2c3940 !important;
}

.symbol-list-item.active {
    background: #023 none repeat scroll 0 0 !important;
}

.symbol-list-item:hover {
    background: #121b21 none repeat scroll 0 0 !important;
}

.symbol-list-header {
    border-bottom: 1px solid #121b21 !important;
    color: #888989 !important;
}

.ns-item {
    border-bottom: 1px solid #121b21 !important;
}

.ns-item:hover {
    background: #121b21 none repeat scroll 0 0 !important;
}

.ns-item-title {
    color: #E0D6AF !important;
    font-size: 13px !important;
    margin: 0 12px !important;
}

.dl-header-symbol {
    color: #E4AE00 !important;
}

.dl-header-price {
    color: #B3B3B3 !important;
}

.dl-bidoffer-spread span.dl-bid {
    background: #122540 none repeat scroll 0 0 !important;
    color: #8eafdd !important;
}

.dl-bidoffer-spread span.dl-ask {
    background: #401913 none repeat scroll 0 0 !important;
    color: #EDA593 !important;
}

.dl-range-bar-bg {
    background: #515050 none repeat scroll 0 0 !important;
}

.dl-range-caption {
    color: #aaa !important;
}

.dl-range-price-l,
.dl-range-price-r {
    color: #A4A4A4 !important;
}

.symbol-list-header {
    color: #F4E8B1 !important;
}

.chart-data-window {
    background-color: rgb(40, 40, 40) !important;
    color: rgb(162, 162, 162) !important;
}

.chart-data-window .active .chart-data-window-header {
    background: #153A4B none repeat scroll 0% 0% !important;
}

.chart-data-window .chart-data-window-header {
    background: #121b21 none repeat scroll 0 0 !important;
}

.tv-dfx-calendar__date-block--today .tv-dfx-calendar__day {
    background: #284D01 none repeat scroll 0 0 !important;
    color: #A9E070 !important;
}

.tv-dfx-calendar__date-block--today .tv-dfx-calendar__item {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
}

.tv-dfx-calendar__item {
    color: #A2A2A2 !important;
}

div.calendar-widget.day.green {
    background: #203c04 none repeat scroll 0 0 !important;
    color: #a2e75a !important;
}

div.calendar-widget.green {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
}

div.calendar-widget.day {
    background: #03273D none repeat scroll 0 0 !important;
    color: #79ADCD !important;
}

div.calendar-widget,
div.calendar-widget.header {
    color: #ADADAD !important;
}

div.calendar-widget.regular div.symbol {
    color: #CFCFCF !important;
}

div.calendar-widget.regular.active {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
}

div.calendar-widget.regular.active:hover {
    background: #121b21 none repeat scroll 0 0 !important;
}

div.calendar-widget.regular:hover {
    background: #121b21 none repeat scroll 0 0 !important;
}

.wl-symbol-edit {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
    border: 1px solid #121b21 !important;
    color: #eee !important;
}

.tv-notifications .event-block .symbol {
    background: #480B96 none repeat scroll 0 0 !important;
    border: 1px solid red !important;
}

.msg-data .msg-item.active {
    background: #121b21 none repeat scroll 0 0 !important;
}

.msg-data .msg-item .title {
    color: #5B91B2 !important;
}

.tv-notifications-widget-item__username-event-wrap span:last-child {
    color: rgba(255, 255, 255, 0.6) !important;
}

.tv-notifications-widget-item__icon-time-wrap time {
    color: rgba(190, 190, 190, 0.6) !important;
}

.tv-notifications-widget-item__chart-symbol {
    background-color: #304067 !important;
    color: #C3CCE4 !important;
}

.tv-notifications-widget-item {
    border-bottom: 1px solid #121b21 !important;
}

.tv-notifications-widget-item__description {
    color: #aaa !important;
}

.desc {
    color: #aaa !important;
}

.tv-notifications-widget-item__chart-title {
    color: #999 !important;
}

.ch-message-type-warning {
    background: #330000 !important;
}

.properties-toolbar {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
    border: 1px solid #121b21 !important;
}

.properties-toolbar .drag-handler i {
    filter: none !important;
}

.properties-toolbar .tools-group .colorpicker-widget + svg .bg {
    fill: rgba(0,0,0,0.35) !important;
}

.properties-toolbar .tools-group .custom-select .switcher {
    background-color: rgba(0,0,0,0.35) !important;
}

.tv-side-toolbar .tools-group .button:hover, .tv-side-toolbar .tools-group .button:active, .tv-side-toolbar .tools-group .button.active, .tv-side-toolbar .tools-group .button.selected, .properties-toolbar .tools-group .button, .drawing-favorites-toolbar .tools-group .button {

    background-color: rgba(0, 0, 0, 0.7) !important;
    border-color: #2c3940 !important;
}

.tvcolorpicker-popup {
    background: rgba(0,0,0,0.35) !important;
    border: 1px solid #121b21 !important;
}

._tv-dialog {
    background: rgba(0,0,0,0.35) !important;
    border: 2px solid #121b21 !important;
}

.properties-tabs {
    border-bottom: 1px solid #121b21 !important;
}

.custom-select .switcher {
    background: rgba(0,0,0,0.35) !important;
    border: 1px solid #121b21 !important;
}

.custom-select .items {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
    border: 1px solid #121b21 !important;
}

.ui-widget-content {
    filter: invert(70%) !important;
}

.tv-text-input.inset {
    background: rgba(0,0,0,0.35) !important;
}

.tv-text-input {
    border: 1px solid #121b21 !important;
    color: #aaa !important;
}

.tv-ticker .icon {
    filter: invert(90%) !important;
}

.property-page {
    color: #aaa !important;
}

.properties-tabs a.properties-tabs-label {
    color: #aaa !important;
}

._tv-dialog-title {
    color: #aaa !important;
}

._tv-dialog-content {
    color: #aaa !important;
}

.tv-select-container .sbSelector {
    color: #aaa !important;
    background: rgba(0,0,0,0.35) !important;
    border: 1px solid #2c3940 !important;
}

._tv-dialog-content form input[type="text"], ._tv-dialog-content form input[type="password"], ._tv-dialog-text-input {
    background: rgba(0,0,0,0.35) !important;
    border: 1px solid #121b21 !important;
    color: #aaa !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: rgba(0,0,0,0.35) !important;
}

.clockpicker-popover .popover-content {
    background-color: rgba(0,0,0,0.35) !important;
}

.clockpicker-popover .popover-title {
    background-color: rgba(0,0,0,0.35) !important;
}

.popover-title {
    background-color: rgba(0,0,0,0.35) !important;
    border-bottom: 1px solid #121b21 !important;
}

.clockpicker-plate {
    background-color: rgba(0,0,0,0.35) !important;
    border: 1px solid #121b21 !important;
}

._tv-dialog-content textarea {
    background: rgba(0,0,0,0.35) none repeat scroll 0 0 !important;
    border: 1px solid #121b21 !important;
    color: #aaa !important;
}

.context-menu-wrapper {
    background: rgba(0,0,0,0.35) !important;
    border: 1px solid #121b21 !important;
    color: #aaa !important;
}

.context-menu .action-separator td {
    background-color: #121b21 !important;
    border-bottom: 6px solid rgba(0,0,0,0.35) !important;
    border-top: 6px solid rgba(0,0,0,0.35) !important;
    height: 1px !important;
}

to {
    background: #121b21 !important;
}

._tv-dialog-content ._tv-dialog-tree-item {
    border-bottom: 1px solid #121b21 !important;
    color: #aaa !important;
}

._tv-dialog-content .manage-drawings .row .symbol-title {
    border-bottom: 1px solid #121b21 !important;
}

._tv-dialog-content .manage-drawings .row.header {
    border-bottom: 1px solid #121b21 !important;
    color: #aaa !important;
}

.charts-popup-list {
    background: rgba(0,0,0,0.5) !important;
    border: 1px solid #121b21 !important;
}

.charts-popup-list.intervals-list .item {
    color: #aaa !important;
}

.charts-popup-list .item.active {
    background: rgba(0,0,0,0.9) !important;
}


.charts-popup-list .item:hover {
    background: rgba(0,0,0,0.9) !important;
}

.insert-study-dialog {
    background: rgba(0,0,0,0.35) !important;
    color: #adafb3 !important;
    border: none !important;
}

.tv-chart-study-dialog-search-control input {
    background: #2c3940 !important;
    color: #adafb3 !important;
}

.tv-chart-study-dialog-search-control {
    border: none !important;
}

.favored-list-container.active span.submenu, .favored-list-container span.submenu.active {
    background: #121b21 !important;
    border-color: #121b21 !important;
    color: #adafb3 !important;
}

.charts-popup-list .separator {
    border-top: 1px solid #121b21 !important;
}

.favored-list-container span:active, .favored-list-container span.active, .favored-list-container span.selected {
    background: #121b21 !important;
    color: #fff !important;
}

.favored-list-container span:hover,
.feature-no-touch .header-chart-panel .button:hover,
.feature-no-touch .symbol-edit-widget .button:hover,
.feature-no-touch .tv-select-container .sbOptions a:hover,
.feature-no-touch .tv-unstyled-select-container .sbOptions a:hover {
    background: #121b21 !important;
}

#library-container .header-chart-panel .button.disabled,
.header-group-undo-redo {
    display: none !important;
}

.tv-dialog__close svg {
    fill: #a5a5a5 !important;
}

@-webkit-keyframes highlight-animation {
    from {
        background: transparent !important;
    }
}

@-moz-keyframes highlight-animation {
    from {
        background: transparent !important;
    }

    to {
        background: #121b21 !important;
    }
}

@-ms-keyframes highlight-animation {
    from {
        background: transparent !important;
    }

    to {
        background: #121b21 !important;
    }
}

@-o-keyframes highlight-animation {
    from {
        background: transparent !important;
    }

    to {
        background: #121b21 !important;
    }
}

@keyframes highlight-animation {
    from {
        background: transparent !important;
    }

    to {
        background: #121b21 !important;
    }
}

._tv-dialog .button:not(.disabled):not(.selected):hover:before,
._tv-dialog .custom-select .switcher:not(.disabled):not(.selected):hover:before,
._tv-dialog .favored-list-container span:not(.disabled):not(.selected):hover:before,
._tv-dialog .submenu:not(.disabled):not(.selected):hover:before,
.bottom-widgetbar-content.backtesting .button:not(.disabled):not(.selected):hover:before,
.bottom-widgetbar-content.backtesting .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.bottom-widgetbar-content.backtesting .favored-list-container span:not(.disabled):not(.selected):hover:before,
.bottom-widgetbar-content.backtesting .submenu:not(.disabled):not(.selected):hover:before,
.header-chart-panel .button:not(.disabled):not(.selected):hover:before,
.header-chart-panel .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.header-chart-panel .favored-list-container span:not(.disabled):not(.selected):hover:before,
.header-chart-panel .submenu:not(.disabled):not(.selected):hover:before,
.properties-toolbar .button:not(.disabled):not(.selected):hover:before,
.properties-toolbar .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.properties-toolbar .favored-list-container span:not(.disabled):not(.selected):hover:before,
.properties-toolbar .submenu:not(.disabled):not(.selected):hover:before {
    border: none !important;
}

.drawing-favorites-toolbar .tools-group .button.active,
.feature-no-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-no-touch .properties-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-no-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.feature-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-touch .properties-toolbar .tools-group .button:active,
.feature-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.properties-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.active .side,
.tv-side-toolbar .tools-group .button.selected .main,
.tv-side-toolbar .tools-group .button:not(.subgroup).active,
.tv-side-toolbar .tools-group .button:not(.subgroup).selected {
    background-color: rgba(0,0,0,0.35) !important;

}

.tv-floating-toolbar,
.tv-grouped-floating-toolbar__popup {
    border: 1px solid #999999 !important;
}

.tv-floating-toolbar,
.tv-grouped-floating-toolbar__widget-wrapper,
.tv-grouped-floating-toolbar__popup,
.tv-dialog,
.js-input-control {
    background-color: #323232 !important;
}

.tv-dialog,
.tv-dialog__title {
    color: #7d7d7d !important;
}

.tv-search-row,
.tv-dialog__section {
    border-bottom: 1px solid rgba(0,0,0,0.35) !important;
}

.feature-no-touch .tv-insert-study-item:hover {
    background-color: rgba(0,0,0,0.35) !important;
}

.feature-no-touch .tv-grouped-floating-toolbar__sub-widget:hover,
.tv-grouped-floating-toolbar__sub-widget--current {
    background-color: #3b525f !important;
}

.tv-linetool-properties-toolbar__color-picker .colorpicker-widget+svg .bg {
    fill: #2c3940 !important;
}

.tv-floating-toolbar__widget,
.tv-grouped-floating-toolbar__sub-widget:not(:first-child) {
    border-left: 1px solid #405058 !important;
}

#library-container .bottom-widgetbar-content.backtesting .button.active,
#library-container .ch-controls .button.active,
#library-container .feature-no-touch .bottom-widgetbar-content.backtesting .button:active,
#library-container .feature-no-touch .ch-controls .button:active,
#library-container .feature-no-touch .header-chart-panel .button.active:hover,
#library-container .feature-no-touch .header-chart-panel .button:active,
#library-container .feature-no-touch .hotlist-controls .button:active,
#library-container .feature-no-touch .save-load-buttons .active:hover,
#library-container .feature-no-touch .save-load-buttons a:not(.link):active,
#library-container .feature-no-touch .symbol-edit-widget .button:active,
#library-container .feature-touch .bottom-widgetbar-content.backtesting .button:active,
#library-container .feature-touch .ch-controls .button:active,
#library-container .feature-touch .header-chart-panel .button:active,
#library-container .feature-touch .hotlist-controls .button:active,
#library-container .feature-touch .save-load-buttons a:not(.link):active,
#library-container .feature-touch .symbol-edit-widget .button:active,
#library-container .header-chart-panel .button.active,
#library-container .hotlist-controls .button.active,
#library-container .save-load-buttons .active,
#library-container .symbol-edit-widget .button.active,
.feature-no-touch .chart-controls-bar-buttons a:not(.disabled):hover {
    background: #465761 !important;
}

/* layout */
.tv-dialog__section {
    padding: 10px 30px !important;
}

.tv-dialog__close {
    top: 0 !important;
    padding: 11px !important;
}

.tv-tabs {
    height: 32px !important;
}

._tv-dialog-title ._tv-dialog-title-close,
._tv-dialog-title ._tv-dialog-title-minimize {
    top: 5px !important;
}

.tv-tabs__tab {
    height: 32px;
    padding: 0 !important;
    line-height: 32px !important;
}

.tv-tabs:before {
    background-color: #545454 !important;
}

.tv-select-container .sbOptions,
.tv-unstyled-select-container .sbOptions {
    background: #2c3940 !important;
    border: 1px solid #2c3940 !important;
}

.tv-select-container .sbOptions a.active,
.tv-unstyled-select-container .sbOptions a.active {
    background: rgba(0,0,0,0.35) !important;
    color: #bfc3c6 !important;
}

.tv-select-container {
    border: none !important;
}

._tv-dialog-content .alert-dialog-content,
._tv-dialog-content .main-properties {
    padding: 10px 25px !important;
    height: auto !important;
}
.apply-common-tooltip{

}
