<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th>작성일
        </th>
        <th>제목
        </th>
        <th>상태
        </th>

    </tr>

    </thead>
    <tbody style="height:366px; overflow:scroll">
    <#list 1..15 as i>
    <tr>
        <td>2017-04-13 16:02:45</td>
        <td>원화 입금하고 싶은데 어떻게 하나요?</td>
        <td>답변완료</td>
    </tr>
    </#list>
    </tbody>
</table>