<templateslate -->
<script id="coinTemplate" type="text/x-jquery-tmpl">
    <div class="media p-l-5">
        <#--<div class="pull-left">-->
            <#--<img width="40" src="/img/shortcuts/${r"${name}"}.png" alt="${r"${name}"}">-->
        <#--</div>-->
        <div class="media-body p-l-5">
            <a class="h5 drawer-toggle" data-drawer="withdrawForm" href="#" onclick="javascript:coinWallet('${r"${name}"}');">${r"${name}"}</a>
        </div>
    </div>
</script>
<div class="tile">
    <h2 class="tile-title">Wallets</h2>
    <div class="tile-config dropdown">
        <a data-toggle="dropdown" href=""></a>
        <ul class="dropdown-menu pull-right text-right">
            <li><a href="">Refresh</a></li>
            <li><a href="">Settings</a></li>
        </ul>
    </div>

    <div id="coinList" class="listview narrow sortable ui-sortable">


    </div>
</div>

<#--<div class="tile">-->
    <#--<h2 class="tile-title">Coins</h2>-->
    <#--<div class="tile-config dropdown">-->
        <#--<a data-toggle="dropdown" href=""></a>-->
        <#--<ul class="dropdown-menu pull-right text-right">-->
            <#--<li><a href="">Refresh</a></li>-->
            <#--<li><a href="">Settings</a></li>-->
        <#--</ul>-->
    <#--</div>-->

    <#--<div class="listview narrow sortable ui-sortable">-->
        <#--<div class="media">-->
            <#--<div class="media-body">-->
                <#--<a class="t-overflow h4 drawer-toggle" data-toggle="drawer" data-drawer="KrwForm" href="">KRW</a>-->

            <#--</div>-->
        <#--</div>-->
        <#--<div class="media">-->
            <#--<div class="media-body">-->
                <#--<a class="t-overflow h4 drawer-toggle" data-toggle="drawer" data-drawer="coinForm" href="">Bitcoin</a>-->

            <#--</div>-->
        <#--</div>-->
        <#--<div class="media">-->
            <#--<div class="media-body">-->
                <#--<a class="t-overflow h4 drawer-toggle" href="">Ethereum</a>-->

            <#--</div>-->
        <#--</div>-->
        <#--<div class="media">-->
            <#--<div class="media-body">-->
                <#--<a class="t-overflow h4 drawer-toggle" data-drawer="depositAccount" href="">Dash</a>-->

            <#--</div>-->
        <#--</div>-->
        <#--<div class="media">-->
            <#--<div class="media-body">-->
                <#--<a class="t-overflow h4 drawer-toggle" href="">Monero</a>-->

            <#--</div>-->
        <#--</div>-->
        <#--<div class="media">-->
            <#--<div class="media-body">-->
                <#--<a class="t-overflow h4 drawer-toggle" href="">Litecoin</a>-->

            <#--</div>-->
        <#--</div>-->
        <#--&lt;#&ndash;<div class="media p-5 text-center l-100">&ndash;&gt;-->
            <#--&lt;#&ndash;<a href=""><small></small></a>&ndash;&gt;-->
        <#--&lt;#&ndash;</div>&ndash;&gt;-->
    <#--</div>-->
<#--</div>-->